.nav-link {
  padding: 0;
  font-size: 2rem;
  line-height: 2.5rem;
  color: inherit;
  opacity: 0.8;
}

.header-social .nav-link {
  font-size: 2.25rem;
}

.nav-link:hover,
.nav-link:focus {
  color: inherit;
  opacity: 1;
}

.nav-item + .nav-item {
  margin-left: 2rem;
}

#icons {
    color:#8a4b30;
    margin-left: 77%;
    margin-top: 40px;
}

#icono-user {
  color: #8a4b30;
  margin-left:15px;
}

#icono-user:hover {
  color: brown;
  text-shadow: 2px 2px 2px beige;
  transition: 0.5s ease-out;
}

#logo {
  margin-left: 10px;
  margin-top: 7px;
  display: block;
  width: 130px;
  height: 107px;
}

#header {
  width: 100%;
  display: flex;
}

.header .link-logo {
  width: 130px;
  height: 107px;
}

.btn-cerrarSesion {
  background-color: #eecc9b;
  border-style: none;
  color: #8a4b30;
  margin-left:9px;
}

.btn-cerrarSesion:hover {
  color: brown;
  text-shadow: 2px 2px 2px beige;
  transition: 0.5s ease-out;
}

