#mujer {
    background: url("../images/woman.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
  }

  #mujer :hover {
    box-shadow: 2px 2px 2px #8a4b30;
    transition: 0.5s ease-out;
  }

  #mujer :active {
    box-shadow: 2px 2px 2px green;
  }